/* Display flex coloca as filhas diretas lado a lado
    Jogar flexbox froggy
    CSS Tricks*/

/*
 * GERAL
 */

 body {
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.title {
    font-family: 'Flamenco', sans-serif;
    font-size: 30px;
    color: #484848;
    width: 100%;
}

/*
* TOPBAR
*/

.topbar {
    display: flex;
}